//
// SURSTRÖMMING - Breakpoints
//

// List of breakpoints
$breakpoints: (
  mobile-s:   320px,
  mobile-m:   375px,
  mobile-l:   414px,
  m-between:  600px,
  tablet:     768px,
  l-between:  960px,
  laptop:     1024px,
  laptop-l:   1440px,
  desktop:    1366px,
  hd:         1920px
);

// Mixin to make breakpoints easier (mobile-first, but forgiving)
@mixin break($breakpoint, $modifier: 'min') {
  @if ($modifier == 'max') {
    $breakpoint: $breakpoint - 1;
  }

  @if map-has-key($breakpoints, $breakpoint) {
    $size: map-get($breakpoints, $breakpoint);

    @media only screen and (#{$modifier}-width: $size) {
      @content;
    }
  }

  @else {
    @warn "Unkown '#{$breakpoint}' in $breakpoints";
  }
}