//
// SURSTRÖMMING functions collection
//


// list helpers
@function map-first($map) {
  @return nth($map, 1);
}

@function map-last($map) {
  @return nth($map, length($map));
}

@function map-n($map, $n) {
  @return nth($map, $n);
}

