//
// SURSTRÖMMING - Responsive Grid
//

.grid {
  // reset grid styles to work with any kind of markup
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  // grid row wrapper to reset margins
  &__row {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    // only reset margins if grid uses gutters
    @include has-gutter {

      // add negative margins from lowest grid breakpoint
      @include break($min-grid-breakpoint) {
        margin: 0 ($gutter-width / 2 * -1);
        width: calc(100% + $gutter-width);

        // remove vertical spacing for first and last rows if vertical spacing
        // is set
        @if ($item-spacing == true) {
          &:first-child { margin-top: ($gutter-width * -0.5); }
          &:last-child  { margin-bottom: ($gutter-width * -0.5); }
        }
      }
    }


    // optional class to add relative gutter to grid units
    // overrides original gutter settings, whether gutter is set or unset
    .grid--has-gutter & {
      margin: 0 (columns(1) * -0.5);
      width: calc(#{columns($grid-columns + 1)});
    }
  }



  // grid unit styles
  &__unit {
    box-sizing: border-box;
    flex: 1 0 100%;

    $vertical-spacing: 0;
    @if ($item-spacing == true) {
      $vertical-spacing: ($gutter-width / 2);
    }


    // evenly sized grid units
    // loop through $grid-breakpoints
    @each $key, $value in $grid-breakpoints {
      $breakpoint-columns: ($grid-columns * $value);

      // responsive handling
      @include break($key) {
        @include column-width(1, $breakpoint-columns);

        // add margin if grid is set to have gutter
        @include has-gutter() {
          margin: $vertical-spacing ($gutter-width / 2);
        }
      }
    }


    // grid units with preset, relative width (defined through column span)
    @for $i from 1 through $grid-columns {
      // create classes for each possible column width
      &--span-#{$i} {

        // loop through grid-related breakpoints
        @each $key, $value in $grid-breakpoints {
          $breakpoint-columns: ($grid-columns * $value);

          // responsive handling
          @include break($key) {
            $max-col-span: $i;

            // limit width of columns to max columns
            @if ($i >= $breakpoint-columns) {
              $max-col-span: $breakpoint-columns;
            }

            // apply basic styling for grid units
            @include column-width($max-col-span, $breakpoint-columns);
          }
        }
      }
    }


    // add optional relative column spacing to grid units
    .grid--has-gutter & {
      margin: columns($optional-gutter / 2) 0;

      // add side margins on larger screens
      @include break($min-grid-breakpoint) {
        margin-left: columns($optional-gutter / 2);
        margin-right: columns($optional-gutter / 2);
      }
    }


    // add unit handling for evenly divided, verbose grid modifiers
    @each $name, $n in $grid-verbose-sizes {
      .grid__row--#{$name} & {
        $min-columns: ($grid-columns / ($grid-columns * 0.5));

        flex-grow: 0;  // avoid columns stretching to fill
        @include verbose-column-width($grid-columns);


        // styling grows with the numbers
        // 50% units should break a bit later than smaller ones
        @if ($n == $min-columns) {
          @include break(tablet) {
            @include verbose-column-width($grid-columns / 2);
          }
        }

        @else {
          @include break($min-grid-breakpoint) {
            @include verbose-column-width($grid-columns / 2);
          }

          @include break(tablet) {
            @include verbose-column-width($grid-columns / 3);
          }

          @if ($n >= 4) {
            @include break(desktop) {
              @include verbose-column-width($grid-columns / 4);
            }
          }

          // only show many items on big screen sizes
          @if ($n >= 5) {
            @include break(map-first(map-last($breakpoints))) {
              @include verbose-column-width($grid-columns / $n);
            }
          }
        }
      }
    }


    // full-width unit with reset width and margins
    &--full-width {
      @include verbose-column-width($grid-columns);
    }


    // on smaller screens, the columns grow to fill the screen due to wrapping
    // this avoids column growth on the largest grid-breakpoint to support
    // expected behavior
    @include break($max-grid-breakpoint) {
      flex-grow: 0;
    }
  }
}