//
// SURSTRÖMMING - Custom constants for preset stylings
//

$document-font-size: 16;    // replace with your base font size (for rem)


// use this in combination with the mixin in-development()
// to add styles you want to add only for testing and developing.
$in-development: true;      // set to false once in production



// Grid constants
$grid-width:    1440px;     // maximum width of containers and grids
$grid-columns:  12;         // number of columns for grids
$gutter:        true;       // true for a fancy gutter between items
$gutter-width:  20px;       // spacing between columns when gutter is on
$item-spacing:  true;       // grid approach - vertical spacing btw items



//
// custom constants
//

$font: 'Overpass Mono', 'Source Code Pro', 'Courier New', monospace;

$colors: (
  gray: (
    base:   #888,
    dark:   #1f1f1f,
    text:   #555
  ),
  primary: (
    base:   #75f94c,
    light:  lime
  ),
  secondary: (
    dark:   yellow
  )
);