body {
  background: #fafafa;
  color: #1f1f1f;
  font: 400 #{$document-font-size}px/1.5 'Droid Sans Mono', monospace;

  @include break(laptop-l) {
    font-size: rem(18);
  }
}

h2 {
  font-size: rem(32);
  margin: rem(12) 0 rem(24);
  width: 100%;
}

h3 {
  font-size: rem(24);
  margin: rem(32) 0 rem(24);
}

p {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin-bottom: rem(8);

  & + .grid {
    margin-top: rem(32);
  }
}