@import url("https://fonts.googleapis.com/css?family=Overpass+Mono:300,600");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

elements-of-type(html5-block) {
  display: block; }

.clearfix {
  clear: both; }
  .clearfix:after {
    clear: both;
    content: "";
    display: table; }

.grid {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }
  .grid__row {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    width: 100%; }
    @media only screen and (min-width: 414px) {
      .grid__row {
        margin: 0 -10px;
        width: calc(100% + $gutter-width); }
        .grid__row:first-child {
          margin-top: -10px; }
        .grid__row:last-child {
          margin-bottom: -10px; } }
    .grid--has-gutter .grid__row {
      margin: 0 -4.1666666667%;
      width: calc(108.333333333%); }
  .grid__unit {
    box-sizing: border-box;
    -ms-flex: 1 0 100%;
        flex: 1 0 100%; }
    @media only screen and (min-width: 414px) {
      .grid__unit {
        -ms-flex-preferred-size: calc(50% - 20px);
            flex-basis: calc(50% - 20px);
        margin: 10px 10px; } }
    @media only screen and (min-width: 600px) {
      .grid__unit {
        -ms-flex-preferred-size: calc(33.3333333333% - 20px);
            flex-basis: calc(33.3333333333% - 20px);
        margin: 10px 10px; } }
    @media only screen and (min-width: 768px) {
      .grid__unit {
        -ms-flex-preferred-size: calc(16.6666666667% - 20px);
            flex-basis: calc(16.6666666667% - 20px);
        margin: 10px 10px; } }
    @media only screen and (min-width: 1024px) {
      .grid__unit {
        -ms-flex-preferred-size: calc(8.3333333333% - 20px);
            flex-basis: calc(8.3333333333% - 20px);
        margin: 10px 10px; } }
    @media only screen and (min-width: 1440px) {
      .grid__unit {
        -ms-flex-preferred-size: calc(8.3333333333% - 20px);
            flex-basis: calc(8.3333333333% - 20px);
        margin: 10px 10px; } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-1 {
        -ms-flex-preferred-size: calc(50% - 20px);
            flex-basis: calc(50% - 20px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-1 {
        -ms-flex-preferred-size: calc(33.3333333333% - 20px);
            flex-basis: calc(33.3333333333% - 20px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-1 {
        -ms-flex-preferred-size: calc(16.6666666667% - 20px);
            flex-basis: calc(16.6666666667% - 20px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-1 {
        -ms-flex-preferred-size: calc(8.3333333333% - 20px);
            flex-basis: calc(8.3333333333% - 20px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-1 {
        -ms-flex-preferred-size: calc(8.3333333333% - 20px);
            flex-basis: calc(8.3333333333% - 20px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-2 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-2 {
        -ms-flex-preferred-size: calc(66.6666666667% - 20px);
            flex-basis: calc(66.6666666667% - 20px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-2 {
        -ms-flex-preferred-size: calc(33.3333333333% - 20px);
            flex-basis: calc(33.3333333333% - 20px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-2 {
        -ms-flex-preferred-size: calc(16.6666666667% - 20px);
            flex-basis: calc(16.6666666667% - 20px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-2 {
        -ms-flex-preferred-size: calc(16.6666666667% - 20px);
            flex-basis: calc(16.6666666667% - 20px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-3 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-3 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-3 {
        -ms-flex-preferred-size: calc(50% - 20px);
            flex-basis: calc(50% - 20px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-3 {
        -ms-flex-preferred-size: calc(25% - 20px);
            flex-basis: calc(25% - 20px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-3 {
        -ms-flex-preferred-size: calc(25% - 20px);
            flex-basis: calc(25% - 20px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-4 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-4 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-4 {
        -ms-flex-preferred-size: calc(66.6666666667% - 20px);
            flex-basis: calc(66.6666666667% - 20px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-4 {
        -ms-flex-preferred-size: calc(33.3333333333% - 20px);
            flex-basis: calc(33.3333333333% - 20px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-4 {
        -ms-flex-preferred-size: calc(33.3333333333% - 20px);
            flex-basis: calc(33.3333333333% - 20px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-5 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-5 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-5 {
        -ms-flex-preferred-size: calc(83.3333333333% - 20px);
            flex-basis: calc(83.3333333333% - 20px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-5 {
        -ms-flex-preferred-size: calc(41.6666666667% - 20px);
            flex-basis: calc(41.6666666667% - 20px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-5 {
        -ms-flex-preferred-size: calc(41.6666666667% - 20px);
            flex-basis: calc(41.6666666667% - 20px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-6 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-6 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-6 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-6 {
        -ms-flex-preferred-size: calc(50% - 20px);
            flex-basis: calc(50% - 20px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-6 {
        -ms-flex-preferred-size: calc(50% - 20px);
            flex-basis: calc(50% - 20px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-7 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-7 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-7 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-7 {
        -ms-flex-preferred-size: calc(58.3333333333% - 20px);
            flex-basis: calc(58.3333333333% - 20px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-7 {
        -ms-flex-preferred-size: calc(58.3333333333% - 20px);
            flex-basis: calc(58.3333333333% - 20px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-8 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-8 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-8 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-8 {
        -ms-flex-preferred-size: calc(66.6666666667% - 20px);
            flex-basis: calc(66.6666666667% - 20px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-8 {
        -ms-flex-preferred-size: calc(66.6666666667% - 20px);
            flex-basis: calc(66.6666666667% - 20px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-9 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-9 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-9 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-9 {
        -ms-flex-preferred-size: calc(75% - 20px);
            flex-basis: calc(75% - 20px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-9 {
        -ms-flex-preferred-size: calc(75% - 20px);
            flex-basis: calc(75% - 20px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-10 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-10 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-10 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-10 {
        -ms-flex-preferred-size: calc(83.3333333333% - 20px);
            flex-basis: calc(83.3333333333% - 20px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-10 {
        -ms-flex-preferred-size: calc(83.3333333333% - 20px);
            flex-basis: calc(83.3333333333% - 20px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-11 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-11 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-11 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-11 {
        -ms-flex-preferred-size: calc(91.6666666667% - 20px);
            flex-basis: calc(91.6666666667% - 20px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-11 {
        -ms-flex-preferred-size: calc(91.6666666667% - 20px);
            flex-basis: calc(91.6666666667% - 20px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-12 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-12 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-12 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-12 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-12 {
        -ms-flex-preferred-size: calc(100% - 20px);
            flex-basis: calc(100% - 20px); } }
    .grid--has-gutter .grid__unit {
      margin: 4.1666666667% 0; }
      @media only screen and (min-width: 414px) {
        .grid--has-gutter .grid__unit {
          margin-left: 4.1666666667%;
          margin-right: 4.1666666667%; } }
    .grid__row--halves .grid__unit {
      -ms-flex-positive: 0;
          flex-grow: 0;
      -ms-flex-preferred-size: calc(100% - 20px);
          flex-basis: calc(100% - 20px); }
      .grid--has-gutter .grid__row--halves .grid__unit {
        -ms-flex-preferred-size: 91.6666666667%;
            flex-basis: 91.6666666667%; }
      @media only screen and (min-width: 768px) {
        .grid__row--halves .grid__unit {
          -ms-flex-preferred-size: calc(50% - 20px);
              flex-basis: calc(50% - 20px); }
          .grid--has-gutter .grid__row--halves .grid__unit {
            -ms-flex-preferred-size: 41.6666666667%;
                flex-basis: 41.6666666667%; } }
    .grid__row--thirds .grid__unit {
      -ms-flex-positive: 0;
          flex-grow: 0;
      -ms-flex-preferred-size: calc(100% - 20px);
          flex-basis: calc(100% - 20px); }
      .grid--has-gutter .grid__row--thirds .grid__unit {
        -ms-flex-preferred-size: 91.6666666667%;
            flex-basis: 91.6666666667%; }
      @media only screen and (min-width: 414px) {
        .grid__row--thirds .grid__unit {
          -ms-flex-preferred-size: calc(50% - 20px);
              flex-basis: calc(50% - 20px); }
          .grid--has-gutter .grid__row--thirds .grid__unit {
            -ms-flex-preferred-size: 41.6666666667%;
                flex-basis: 41.6666666667%; } }
      @media only screen and (min-width: 768px) {
        .grid__row--thirds .grid__unit {
          -ms-flex-preferred-size: calc(33.3333333333% - 20px);
              flex-basis: calc(33.3333333333% - 20px); }
          .grid--has-gutter .grid__row--thirds .grid__unit {
            -ms-flex-preferred-size: 25%;
                flex-basis: 25%; } }
    .grid__row--quarters .grid__unit {
      -ms-flex-positive: 0;
          flex-grow: 0;
      -ms-flex-preferred-size: calc(100% - 20px);
          flex-basis: calc(100% - 20px); }
      .grid--has-gutter .grid__row--quarters .grid__unit {
        -ms-flex-preferred-size: 91.6666666667%;
            flex-basis: 91.6666666667%; }
      @media only screen and (min-width: 414px) {
        .grid__row--quarters .grid__unit {
          -ms-flex-preferred-size: calc(50% - 20px);
              flex-basis: calc(50% - 20px); }
          .grid--has-gutter .grid__row--quarters .grid__unit {
            -ms-flex-preferred-size: 41.6666666667%;
                flex-basis: 41.6666666667%; } }
      @media only screen and (min-width: 768px) {
        .grid__row--quarters .grid__unit {
          -ms-flex-preferred-size: calc(33.3333333333% - 20px);
              flex-basis: calc(33.3333333333% - 20px); }
          .grid--has-gutter .grid__row--quarters .grid__unit {
            -ms-flex-preferred-size: 25%;
                flex-basis: 25%; } }
      @media only screen and (min-width: 1366px) {
        .grid__row--quarters .grid__unit {
          -ms-flex-preferred-size: calc(25% - 20px);
              flex-basis: calc(25% - 20px); }
          .grid--has-gutter .grid__row--quarters .grid__unit {
            -ms-flex-preferred-size: 16.6666666667%;
                flex-basis: 16.6666666667%; } }
    .grid__row--fifths .grid__unit {
      -ms-flex-positive: 0;
          flex-grow: 0;
      -ms-flex-preferred-size: calc(100% - 20px);
          flex-basis: calc(100% - 20px); }
      .grid--has-gutter .grid__row--fifths .grid__unit {
        -ms-flex-preferred-size: 91.6666666667%;
            flex-basis: 91.6666666667%; }
      @media only screen and (min-width: 414px) {
        .grid__row--fifths .grid__unit {
          -ms-flex-preferred-size: calc(50% - 20px);
              flex-basis: calc(50% - 20px); }
          .grid--has-gutter .grid__row--fifths .grid__unit {
            -ms-flex-preferred-size: 41.6666666667%;
                flex-basis: 41.6666666667%; } }
      @media only screen and (min-width: 768px) {
        .grid__row--fifths .grid__unit {
          -ms-flex-preferred-size: calc(33.3333333333% - 20px);
              flex-basis: calc(33.3333333333% - 20px); }
          .grid--has-gutter .grid__row--fifths .grid__unit {
            -ms-flex-preferred-size: 25%;
                flex-basis: 25%; } }
      @media only screen and (min-width: 1366px) {
        .grid__row--fifths .grid__unit {
          -ms-flex-preferred-size: calc(25% - 20px);
              flex-basis: calc(25% - 20px); }
          .grid--has-gutter .grid__row--fifths .grid__unit {
            -ms-flex-preferred-size: 16.6666666667%;
                flex-basis: 16.6666666667%; } }
      @media only screen and (min-width: 1920px) {
        .grid__row--fifths .grid__unit {
          -ms-flex-preferred-size: calc(20% - 20px);
              flex-basis: calc(20% - 20px); }
          .grid--has-gutter .grid__row--fifths .grid__unit {
            -ms-flex-preferred-size: 11.6666666667%;
                flex-basis: 11.6666666667%; } }
    .grid__unit--full-width {
      -ms-flex-preferred-size: calc(100% - 20px);
          flex-basis: calc(100% - 20px); }
      .grid--has-gutter .grid__unit--full-width {
        -ms-flex-preferred-size: 91.6666666667%;
            flex-basis: 91.6666666667%; }
    @media only screen and (min-width: 1440px) {
      .grid__unit {
        -ms-flex-positive: 0;
            flex-grow: 0; } }

body {
  font: 300 16px/1.5 "Overpass Mono", "Source Code Pro", "Courier New", monospace;
  letter-spacing: -0.0625rem; }

h1 {
  font-size: 5rem;
  font-size: 16vw;
  font-weight: 600;
  line-height: 1; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 5rem;
      font-size: 12vw; } }
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 6.25rem;
      font-size: 10vw; } }
  @media only screen and (min-width: 1440px) {
    h1 {
      font-size: 7.5rem;
      font-size: 7.5vw; } }
  @media only screen and (max-height: 550px) {
    h1 {
      font-size: 15vh; } }

body,
html {
  height: 100%;
  width: 100%; }

body {
  background: #1f1f1f;
  color: #555; }

.content-wrap {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  padding: 1.25rem;
  width: 100%; }
  @media only screen and (min-width: 414px) {
    .content-wrap {
      padding: 8.3333333333%; } }
  @media only screen and (min-width: 1024px) {
    .content-wrap {
      padding-left: 16.6666666667%;
      padding-right: 16.6666666667%; } }

.name {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding-bottom: 10%; }
  @media only screen and (min-width: 768px) {
    .name__descr {
      width: 66.6666666667%; } }
  .name__title {
    animation: flickering 6s infinite;
    color: #75f94c;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 30px rgba(255, 255, 0, 0.1); }
  @media only screen and (orientation: portrait) {
    .name {
      padding-bottom: 30%; } }
  @media only screen and (min-width: 768px) {
    .name {
      padding-bottom: 0; } }

@keyframes flickering {
  0% {
    color: #75f94c; }
  25% {
    color: #75f94c; }
  27% {
    color: lime; }
  28% {
    color: #75f94c; }
  34% {
    color: #75f94c; }
  35% {
    color: lime; }
  36% {
    color: #75f94c; }
  46% {
    color: #75f94c; }
  47% {
    color: #1f1f1f; }
  48% {
    color: #1f1f1f; }
  49% {
    color: #75f94c; }
  59% {
    color: #75f94c; }
  60% {
    color: yellow; }
  62% {
    color: #75f94c; }
  66% {
    color: #75f94c; }
  67% {
    color: yellow; }
  68% {
    color: #75f94c; }
  69% {
    color: lime; }
  70% {
    color: #75f94c; }
  83% {
    color: #75f94c; }
  85% {
    color: #888; }
  88% {
    color: #75f94c; }
  100% {
    color: #75f94c; } }

.skills {
  font-size: 0.75rem;
  list-style: none; }
  .skills__headline {
    color: #888;
    font-weight: 600; }
  .skills__item {
    display: inline;
    text-transform: lowercase; }
    .skills__item:after {
      content: ","; }
    .skills__item:last-of-type:after {
      content: none; }
  @media only screen and (min-width: 768px) {
    .skills {
      width: 50%; } }
  @media only screen and (min-width: 1920px) {
    .skills {
      font-size: 0.875rem; } }
/*# sourceMappingURL=application.css.map */