body {
  font: 300 16px/1.5 $font;
  letter-spacing: rem(-1);
}

h1 {
  font-size: rem(80);
  font-size: 16vw;
  font-weight: 600;
  line-height: 1;

  @include break(tablet) {
    font-size: rem(80);
    font-size: 12vw;
  }

  @include break(laptop) {
    font-size: rem(100);
    font-size: 10vw;
  }

  @include break(laptop-l) {
    font-size: rem(120);
    font-size: 7.5vw;
  }

  @media only screen and (max-height: 550px) {
    font-size: 15vh;
  }
}