
body,
html {
  height: 100%;
  width: 100%;
}

body {
  background: color(gray, dark);
  color: color(gray, text);
}

.content-wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: rem(20);
  width: 100%;

  @include break(mobile-l) {
    padding: columns(1);
  }

  @include break(laptop) {
    padding-left: columns(2);
    padding-right: columns(2);
  }
}