
.name {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-bottom: 10%;

  @include e("descr") {
    @include break(tablet) {
      width: columns(8);
    }
  }

  @include e("title") {
    animation: flickering 6s infinite;
    color: color(primary);
    margin-bottom: rem(24);
    text-shadow: 2px 2px 30px rgba(color(secondary, dark), 0.1);
  }

  @media only screen and (orientation: portrait) {
    padding-bottom: 30%;
  }

  @include break(tablet) {
    padding-bottom: 0;
  }
}

@keyframes flickering {
  0% {
    color: color(primary);
  }
  25% {
    color: color(primary);
  }
  27% {
    color: color(primary, light);
  }
  28% {
    color: color(primary);
  }
  34% {
    color: color(primary);
  }
  35% {
    color: color(primary, light);
  }
  36% {
    color: color(primary);
  }
  46% {
    color: color(primary);
  }
  47% {
    color: color(gray, dark);
  }
  48% {
    color: color(gray, dark);
  }
  49% {
    color: color(primary);
  }
  59% {
    color: color(primary);
  }
  60% {
    color: color(secondary, dark);
  }
  62% {
    color: color(primary);
  }
  66% {
    color: color(primary);
  }
  67% {
    color: color(secondary, dark);
  }
  68% {
    color: color(primary);
  }
  69% {
    color: color(primary, light);
  }
  70% {
    color: color(primary);
  }
  83% {
    color: color(primary);
  }
  85% {
    color: color(gray);
  }
  88% {
    color: color(primary);
  }
  100% {
    color: color(primary);
  }
}