
.skills {
  font-size: rem(12);
  list-style: none;

  @include e("headline") {
    color: color(gray);
    font-weight: 600;
  }

  @include e("item") {
    display: inline;
    text-transform: lowercase;

    &:after {
      content: ",";
    }

    &:last-of-type {
      &:after {
        content: none;
      }
    }
  }

  @include break(tablet) {
    width: columns(6);
  }

  @include break(hd) {
    font-size: rem(14);
  }
}